$color-header-background: white;
$color-background: #D9D5EC;
$color-button: #6d5bd0;
$color-icon: #ed1a3b;
$color-modal-background: white;

$color-primary-text: black;
$color-secondary-text: white;
$color-title-text: #323232;
$color-title-text-2: #ed1a3b;
$color-subtitle-text: #777777;

$font-size-primary: 20px;
$font-size-title: 34px;
$font-size-subtitle: 24px;

$font-primary: "Inter";
$font-secondary: "Inter";
