@import "src/styles";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: $color-modal-background;
    border-radius: 10px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .text {
            color: $color-primary-text;
            font-size: $font-size-title;
            font-family: $font-secondary;
        }
        
        .buttonContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    
}
